{% extends "template.html" %}
{% block result %}
<div class="row">
  <input type="hidden" id="type" value="word_count">
  <div class="col-xl-6 col-sm-offset-1" id="obj-image">
    {% raw %}
    <img class="mt-2 col" src="{{ imagePath }}" alt="image">
    {% endraw %}
  </div>
  <div class="col-xl-4 col-sm-offset-1">
    <h2>Result</h2>
    <div id="results">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          {% raw %}
          <tr ng-repeat="object in objects">
            <td>{{ object['word'] }}</td>
            <td>
              {{ object['count'] }}
            </td>
          </tr>
          {% endraw %}
        </tbody>
      </table>
    </div>
    <img class="col-xl-4 col-sm-offset-1" src="{{ url_for('static', filename='img/spinner.gif') }}" ng-show="loading">
  </div>
</div>
{% endblock %}